/* Error: Undefined variable.
 *   ,
 * 4 |   background-color: $colorfondo;
 *   |                     ^^^^^^^^^^^
 *   '
 *   scss\_general.scss 4:21  @use
 *   scss\style.scss 3:1      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 4 \2502    background-color: $colorfondo;\d\a   \2502                      ^^^^^^^^^^^\a   \2575 \a   scss\\_general.scss 4:21  @use\a   scss\\style.scss 3:1      root stylesheet";
}
