$color-fondo: black;
$color-blanco: #fff;
$color-negro: #000;
$color-gris-claro: #f9f9f9;
$color-gris: #ccc;
$color-verde: #4CAF50;
$color-whatsapp: #25D366;

$font-base: "Roboto", sans-serif;


@for $i from 1 through 2 {
    .gridarea#{$i} {
        grid-area: #{$i};
    }
}


$colores: red, hotpink, white, yellow,lightblue, orange;

@each $color in $colores {
    .#{$color} {
        color: #{$color};
    }
}    

$link: (
    bg-header: black,
    decoracion: none,
    bordes: 1px solid black,
    relleno: 2px
);

a{
    text-decoration: map-get($link, decoracion);
    background-color: map-get($link, bg-header);
}

$mapredes: (
    facebook:blue,
    instagram:red,
    twitter: black,
);

@each $red, $color in $mapredes {
    .#{$red} {
        color: $color;}
}