/* =====================
   VARIABLES
===================== */
@use "variables" as *;

/* =====================
   BASE
===================== */
@use "base/base";
@use "base/textos";

/* =====================
   LAYOUT
===================== */
@use "layout/header";
@use "layout/grid";
@use "layout/form";
@use "layout/footer";

/* =====================
   COMPONENTS
===================== */
@use "components/buttons";
@use "components/cards";
@use "components/carousel";
@use "components/clients";
