
@use "../variables" as *;


footer {
  color: rgb(7, 4, 4);
  text-align: center;
  position: static;
  bottom: 0;
  width: 100%;
}

footer img {
  width: 20px;
  height: 20px;
}

footer a {
  color: rgb(243, 241, 241);
  margin: 0 10px;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: rgb(250, 252, 251);
}

footer p {
  margin: 5px 0;
}
