@use "../variables" as *;
@use "../mixin" as *;

/* =====================
   FOOTER
===================== */

footer {
  width: 100%;
  text-align: center;
  color: $white;
  padding: 30px 0;

  p {
    margin: 8px 0;
  }

  img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }

  a {
    color: $white;
    margin: 0 12px;
    text-decoration: none;
    transition: $transition-fast;

    &:hover {
      color: $green-primary;
    }
  }
}
