@use "../variables" as *;
@use "../mixin" as *;
/* =====================
   FOOTER
===================== */

footer {
  width: 100%;
  position: static;
  bottom: 0;
  text-align: center;
  color: $footer-text;

  img {
    width: 20px;
    height: 20px;
  }

  a {
    color: $footer-link;
    margin: 0 10px;
    text-decoration: none;

    &:hover {
      color: $footer-link-hover;
      text-decoration: underline;
    }
  }

  p {
    margin: 5px 0;
  }
}
