@use "../variables" as *;
@use "../mixin" as *;

/* =====================
   FORM
===================== */

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0;
}

form {
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  background-color: $form-bg;
  border: 1px solid $form-border;
  border-radius: $radius-md;

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;

  label {
    margin-bottom: -3px;
    font-weight: bold;
  }

  input,
  textarea {
    margin-bottom: 15px;
    border: 1px solid $form-border;
    border-radius: $radius-sm;
    box-sizing: border-box;
  }
}
