@use "../variables" as *;
@use "../mixin" as *;

/* =====================
   FORM
===================== */

/* =====================
   CONTACT PAGE
===================== */

.contact-page {
  min-height: 100vh;
  padding-bottom: 60px;
}

/* HERO */

.contact-hero {
  background-color: $green-primary;
  padding: 40px 20px 40px;
  
  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 15px;
  }

  p {
      font-size: 1rem;
  }
}

/* FORM SECTION */

.contact-section {
  padding: 40px 20px 80px;
}

/* CARD */

.contact-card {
  background: #fff;
  padding: 50px;
  border-radius: 18px;
  width: 100%;
  max-width: 650px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}

/* FORM */

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;

  label {
    font-weight: 500;
    margin-bottom: 8px;
    color: #111;
  }

  input,
  textarea,
  select {
    padding: 12px 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 0.95rem;
    transition: all 0.2s ease;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
    border-color: #000;
  }
}



