@use "../variables" as *;
@use "../mixin" as *;

/* =====================
   GRID + VIDEO
===================== */

.acerca-de {
  background:  radial-gradient(circle,rgb(15, 141, 17) 0.1%, rgb(0, 0, 0) 28%);
  color: white;
  padding: 100px 0;

  .acerca-wrapper {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 60px;
    align-items: center;
  }

  .acerca-texto {
    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .lead {
      font-size: 1.1rem;
      opacity: .8;
      margin-bottom: 30px;
    }

    h2 {
      font-size: 1.5rem;
      margin-bottom: 20px;
      font-weight: 600;
    }

    p {
      line-height: 1.7;
      opacity: .85;
    }
  }

  .acerca-video iframe {
    width: 100%;
    height: 350px;
    border-radius: 16px;
    box-shadow: 0 20px 50px rgba(0,0,0,.4);
  }
}


.col-md-4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}