@use "../variables" as *;
@use "../mixin" as *;

/* =====================
   GRID + VIDEO
===================== */

.padregrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: auto;
  padding: 0 20px;
  background-color: $bg-light;
  border-radius: $radius-sm;
}

.videocontainer {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;

  iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: $radius-lg;
    box-shadow: $shadow-soft;
  }
}

.col-md-4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}