@use "../variables" as *;
@use "../mixin" as *;

/* =====================
   GRID + VIDEO
===================== */

.acerca-de {
  background:  $green-primary;
  padding: 100px 0;

  .acerca-wrapper {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 60px;
    align-items: center;
  }

  .acerca-video iframe {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0 30px 60px rgba(0,0,0,.2);
  }
}


.col-md-4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


