@use "../variables" as *;
@use "../mixin" as *;
/* =====================
   HEADER / NAVBAR
===================== */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-navbar;
  background-color: $nav-bg;
}

/* Compensa la navbar fija */
main {
  padding-top: $header-height;
}

.resultados {
  background-color: $green-primary;
  }

.proceso {
  background-color: $gold;
  }


.servicios-hero {
  background-color: $green-primary;
  }
  
.servicios-contenido {
  background-color: $gold;
  color: $text-dark;
}