@use "../variables" as *;

/* =====================
   HEADER / NAVBAR
===================== */

.custom-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-navbar;
  padding: 18px 0;

  background: transparent;
  transition: all 0.3s ease;

  .navbar-brand {
    color: $white;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: 0.3s ease;
  }

  .nav-link {
    color: $white;
    font-weight: 500;
    transition: 0.3s ease;

    &:hover {
      color: $green-primary;
    }

    &.active {
      color: $green-primary;
      font-weight: 600;
    }
  }

  /* Estado cuando scrolleás */
  &.scrolled {
    background-color: $white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    padding: 12px 0;

    .navbar-brand {
      color: $primary-color;
    }

    .nav-link {
      color: $text-dark;
    }
  }
}


/* Compensa la navbar fija */
main {
  padding-top: $header-height;
}

.resultados {
  background-color: $green-primary;
  }

.proceso {
  background-color: $gold;
  }


.servicios-hero {
  background-color: $green-primary;
  }
  
.servicios-contenido {
  background-color: $gold;
  color: $text-dark;
}