@use "../variables" as *;
@use "../mixin" as *;
/* =====================
   HEADER / NAVBAR
===================== */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-navbar;
  background-color: $nav-bg;
}

/* Compensa la navbar fija */
main {
  padding-top: $header-height;
}

