@use "../variables" as *;
@use "../mixin" as *;
@use "../base/placeholders" as *;

/* =====================
   BUTTONS
===================== */

/* Contenedor submit */

.submit-container {
  text-align: center;
  margin-top: 20px;
}

/* ---------------------
   BOTÓN BASE (override Bootstrap)
--------------------- */

.btn {
  @extend %btn-base;
  @include button-base($green-primary, $radius-sm);
  @include button-hover-gradient;
}

/* ---------------------
   BOTÓN SUBMIT
--------------------- */

.btn-submit {
  @extend %btn-base;
  @include button-base($green-primary, 30px);
  padding: 12px 35px;
  color: #0f5132;

  &:hover {
    background-color: #093f26;
    color: $white;
    transform: translateY(-3px);
  }
}

/* ---------------------
   BOTÓN WHATSAPP
--------------------- */

.whatsapp-btn {
  @extend %btn-base;
  @include button-base($green-whatsapp, $radius-md);
  display: block;
  width: 100%;
  padding: 12px;

  &:hover {
    background-color: darken($green-whatsapp, 8%);
    color: green;
  }
}

/* ---------------------
   BOTÓN DDE
--------------------- */

.btn.btn-dde {
  @extend %btn-base;

  background-color: black !important;
  border: 2px solid #9eff00 !important;
  color: #9eff00 !important;
  border-radius: 50px !important;
  padding: 12px 30px;
  overflow: hidden;

  &:hover {
    background-color: #9eff00 !important;
    color: black !important;
  }
}



/* ---------------------
   BADGE DESTACADO
--------------------- */

.badge.bg-dark {
  background: black !important;
  border: 2px solid #9eff00;
  color: #9eff00;
  padding: 6px 18px;
  border-radius: 50px;
  font-weight: 500;
}
