@use "../variables" as *;
@use "../mixin" as *;

/* =====================
   BUTTONS
===================== */

.submit-button {
  text-align: center;
}

.btn {
  @include button-base($green-primary, $radius-sm);
  @include button-hover-gradient;
}

.whatsapp-btn {
  @include button-base($green-whatsapp, $radius-md);
  display: block;
  width: 100%;
  padding: 12px;
  text-align: center;
  text-decoration: none;
}


/* BUTTON */

.submit-container {
  text-align: center;
  margin-top: 20px;
}


.btn-submit {
  background: $green-primary;
  color: #fff;
  border: none;
  padding: 12px 35px;
  border-radius: 30px;
  font-weight: 500;
  transition: all 0.3s ease;
  @include button-hover-gradient;
 
}