@use "../variables" as *;
@use "../mixin" as *;

/* =====================
   BUTTONS
===================== */

/* Contenedor submit */

.submit-container {
  text-align: center;
  margin-top: 20px;
}

/* ---------------------
   BOTÓN BASE (override Bootstrap)
--------------------- */

.btn {
  @include button-base($green-primary, $radius-sm);
  @include button-hover-gradient;
}

/* ---------------------
   BOTÓN SUBMIT
--------------------- */

.btn-submit {
  @include button-base($green-primary, 30px);
  padding: 12px 35px;
  color: #0f5132;

  &:hover {
    background-color: #093f26;
    color: $white;
    transform: translateY(-3px);
  }
}

/* ---------------------
   BOTÓN WHATSAPP
--------------------- */

.whatsapp-btn {
  @include button-base($green-whatsapp, $radius-md);
  display: block;
  width: 100%;
  padding: 12px;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: darken($green-whatsapp, 8%);
    color: green;
  }
}


.btn-dde {
  background-color: $green-primary;
  color: #093f26;
  border: 2px solid #093f26;
  border-radius: 30px;
  font-weight: 600;

  transition: all .3s ease;

  &:hover {
    background-color: #093f26;
    color: $white;
    transform: translateY(-3px);
  }
}

