@use "../variables" as *;
@use "../mixin" as *;

/* =====================
   BUTTONS
===================== */

/* Contenedor submit */

.submit-container {
  text-align: center;
  margin-top: 20px;
}

/* ---------------------
   BOTÓN BASE (override Bootstrap)
--------------------- */

.btn {
  @include button-base($green-primary, $radius-sm);
  @include button-hover-gradient;
}

/* ---------------------
   BOTÓN SUBMIT
--------------------- */

.btn-submit {
  @include button-base($green-primary, 30px);
  padding: 12px 35px;
  @include button-hover-gradient;
  
}

/* ---------------------
   BOTÓN WHATSAPP
--------------------- */

.whatsapp-btn {
  @include button-base($green-whatsapp, $radius-md);
  display: block;
  width: 100%;
  padding: 12px;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: darken($green-whatsapp, 8%);
    color: $white;
  }
}
