@use "../variables" as *;
@use "../mixin" as *;


/* =====================
   CARDS
===================== */


.card {
  @include card-base;
  width: $card-width;
  background-color: $gold;

  &-image-container {
    width: 100%;
    height: 300px;
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-content {
    padding: 15px;
    text-align: center;
  }

  &-title {
    font-size: 1.2em;
    color: $gray-dark;
    margin-top: 0;
  }

  &-description {
    font-size: .9em;
    color: $gray-text;
    margin-bottom: 10px;
  }


  &-footer {
    width: 100%;
    background-color: $gold;
    display: flex;
    justify-content: center;
  }
}

.service-card {
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-10px);
  }
}


.hero-section .carousel-caption {
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 10px;
}

/* =====================
   nosotras
===================== */
.team-card {
  border: none;
  border-radius: $radius-lg;
  box-shadow: $shadow-soft;
  transition: transform .3s ease, box-shadow .3s ease;
  height: 100%;

  display: flex;
  flex-direction: column;

  &:hover {
    transform: translateY(-6px);
    box-shadow: $shadow-hover;
  }

  .card-body {
    flex-grow: 1; // 🔥 hace que todas ocupen el mismo alto
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-title {
    font-weight: 600;
  }

  .card-text {
    font-size: .9rem;
  }
}

.team-card p:last-child {
  margin-bottom: 0;
}

.team-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid $white;
  box-shadow: $shadow-soft;
  position: static;
}

.team-modal {
  max-width: 620px;

  .modal-content {
    background-color: $white;
  }

  img {
    border-radius: $radius-md;
  }
}


/*=====================
   instagram card
=====================*/
.mini-instagram {
    background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
    color: white;
}

.instagram-card {
    background: white;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.btn-instagram {
    background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: 600;
}

