@use "../variables" as *;
@use "../mixin" as *;


/* =====================
   CARDS
===================== */

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

.card {
  @include card-base;
  width: $card-width;

  &-image-container {
    width: 100%;
    height: 300px;
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-content {
    padding: 15px;
    text-align: center;
  }

  &-title {
    font-size: 1.2em;
    color: $gray-dark;
    margin-top: 0;
  }

  &-description {
    font-size: .9em;
    color: $gray-text;
    margin-bottom: 10px;
  }

  &-price {
    font-size: 1.1em;
    font-weight: bold;
    color: $primary-color;
    margin-bottom: 15px;
  }

  &-footer {
    width: 100%;
    background-color: $gray-light;
    display: flex;
    justify-content: center;
  }
}
