.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  align-content: center;
}

.card {
  border: 1px solid #ddd;
  width: 300px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
}

.card-image-container {
  height: 300px;
  width: 100%;
  display: flex;
  object-fit: cover;
}

.card-content {
  padding: 15px;
  text-align: center;
}

.card-title {
    font-size: 1.2em;
    margin-top: 0;
    color: #333;
}

.card-description {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
}

.card-price {
    font-size: 1.1em;
    font-weight: bold;
    color: #007BFF;
    margin-bottom: 15px;
}

.card-footer {
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
}
