@use "../variables" as *;
@use "../mixin" as *;

/* =====================
   EQUIPO
===================== */

.equipo {

  .equipo-subtitle {
    color: #666;
    font-size: 1.1rem;
  }

  .team-card {
    background: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 30px 20px;
    text-align: center;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: all .3s ease;

    &:hover {
      transform: translateY(-8px);
      box-shadow: 0 20px 40px rgba(0,0,0,0.15);
    }

    &__img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 20px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &__name {
      font-size: 1.3rem;
      font-weight: 600;
      color: #111;
      margin: 0;
    }

    &__role {
      font-size: .95rem;
      color: #777;
      margin: 0;
    }

    &__description {
      font-size: .9rem;
      color: #444;
      margin: 0;
    }

    &__cta {
      margin-top: 15px;
      font-size: .85rem;
      font-weight: 600;
      color: #7b2cbf;
    }
  }
}


/*=====================
   instagram card
=====================*/
.mini-instagram {
    background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
    color: white;
}

.instagram-card {
    background: white;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.btn-instagram {
    background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: 600;
}


/* =====================
   FRASE CARD (Home)
===================== */

.frase-card {
  background: $white;
  border-radius: 30px;
  padding: 40px 30px;
  transition: all .3s ease;
  overflow: hidden;

  &:hover {
    transform: translateY(-10px);
    
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 15px;
  }

  p {
    color: rgba(0, 0, 0, 0.9);
  }

  .brand-tag {
    display: inline-block;
    margin-top: 20px;
    padding: 6px 16px;
    background-color: black;
    color: #9eff00;
    border-radius: 50px;
    font-weight: 600;
    font-size: .8rem;
  }
}
