@use "../variables" as *;

/* =====================
   CAROUSEL
===================== */

#carouselExampleCaptions {
  width: 100vw;
  height: calc(100vh - 56px);

  .carousel-inner,
  .carousel-item {
    width: 100%;
    height: 100%;
  }
}

.carousel-item {
  position: relative;

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: 50% 27%;

    &.lazy {
      filter: blur(5px);
      transition: filter $transition-fast;

      &.loaded {
        filter: blur(0);

        + .carousel-loading-spinner {
          display: none;
        }
      }

      &:not(.loaded) + .carousel-loading-spinner {
        display: block;
      }
    }
  }
}

/* =====================
   CAPTION
===================== */

.carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $overlay-dark;
  color: $white;
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;

  h3 {
    margin: 0;
    font-size: 1.2em;
  }

  p {
    margin: 5px 0 0;
    font-size: .9em;
  }

  a {
    color: $gold;
    text-decoration: underline;

    &:hover {
      color: $orange;
    }
  }
}

/* =====================
   LOADING SPINNER
===================== */

.carousel-loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid $white;
  transform: translate(-50%, -50%);
  animation: spin 1s linear infinite;
}

/* =====================
   ANIMATIONS
===================== */

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
