@use "../variables" as *;
@use "../mixin" as *;


/* =====================
   nosotras
===================== */
.team-card {
  background-color: $white;
  border: none;
  border-radius: $radius-lg;
  box-shadow: $shadow-soft;
  transition: transform .3s ease, box-shadow .3s ease;
  height: 100%;

  display: flex;
  flex-direction: column;

  &:hover {
    transform: translateY(-6px);
    box-shadow: $shadow-hover;
  }

  .card-body {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-title {
    font-weight: 600;
  }

  .card-text {
    font-size: .9rem;
  }
}

.team-card p:last-child {
  margin-bottom: 0;
}

.team-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid $white;
  box-shadow: $shadow-soft;
  position: static;
}

.team-modal {
  max-width: 620px;

  .modal-content {
    background-color: $white;
  }

  img {
    border-radius: $radius-md;
  }
}


/*=====================
   instagram card
=====================*/
.mini-instagram {
    background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
    color: white;
}

.instagram-card {
    background: white;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.btn-instagram {
    background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: 600;
}


/* =====================
   FRASE CARD (Home)
===================== */

.frase-card {
  background: $white;
  border-radius: 30px;
  padding: 40px 30px;
  transition: all .3s ease;
  overflow: hidden;

  &:hover {
    transform: translateY(-10px);
    
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 15px;
  }

  p {
    color: rgba(0, 0, 0, 0.9);
  }

  .brand-tag {
    display: inline-block;
    margin-top: 20px;
    padding: 6px 16px;
    background-color: black;
    color: #9eff00;
    border-radius: 50px;
    font-weight: 600;
    font-size: .8rem;
  }
}
