
@use "../variables" as *;

.clients-section {
  padding: 80px 20px;
  min-height: auto;
}

.clients-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.client-card {
  background: #fff;
  padding: 40px;
  min-height: 180px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,.06);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-card img {
  max-width: 100%;
  max-height: 120px;
  object-fit: contain;
  filter: grayscale(100%);
  opacity: .75;
  transition: all .3s ease;
}

.client-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.client-card:hover img {
  filter: grayscale(0%);
  opacity: 1;
}

div.descriptionbelow {
  text-align: center;
  margin-top: 40px;

}

img.descubrinos {
  margin-top: 30px;
  width: 100%;
  height: 370px;
  object-fit: cover;   /* recorta */
  object-position: 50% 35%
}