@use "../variables" as *;
@use "../mixin" as *;

/* =====================
   CLIENTS
===================== */
.porfoliouno {
  background: $green-primary;
  padding: 80px 20px;
  h1,
  p {
    color: $text-dark;
    text-align: center;
  }
}
.clients-section {
  padding: 70px 20px;
}

.clients-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.client-card {
  background: $white;
  padding: 40px;
  min-height: 180px;
  border-radius: $radius-lg;
  box-shadow: $shadow-soft;
  transition: transform $transition-fast, box-shadow $transition-fast;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    max-height: 120px;
    object-fit: contain;
    filter: grayscale(100%);
    opacity: .75;
    transition: all $transition-fast;
  }

  &:hover {
    transform: translateY(-6px);
    box-shadow: $shadow-hover;

    img {
      filter: grayscale(0%);
      opacity: 1;
    }
  }
}

/* =====================
   DESCRIPTION BELOW
===================== */
.descriptionbelow {
    text-align: center;
    margin-top: 40px;

  .descubrinos {
  margin-top: 30px;
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 30% 35%;
  }  

  a {
    text-decoration: none;
    cursor: pointer;
  }

  .ver-mas {
    display: inline-block;
    margin-top: 12px;
    padding: 6px 14px;
    background-color: $gold;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    transition: all $transition-fast;
  }

  a:hover .ver-mas {
    transform: translateY(-2px);
  }

}