@use "../variables" as *;
@use "../mixin" as *;

/* =========================
   RESET GLOBAL
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   BASE
========================= */

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  transition: $transition-fast;
  color: #e6e6e6;


  background-color: #000;

  
  background-image:
    linear-gradient(rgba(255,255,255,.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.05) 1px, transparent 1px);
  background-size: 60px 60px;
}

