@use "../variables" as *;
@use "../mixin" as *;

/* =========================
   RESET GLOBAL
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   BASE
========================= */

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  transition: $transition-fast;
  color: #e6e6e6;

  /* Fondo principal */
  background-color: #000;

  /* Grid sutil global */
  background-image:
    linear-gradient(rgba(255,255,255,.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.05) 1px, transparent 1px);
  background-size: 60px 60px;
}

/* Opcional – glow sutil central premium */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at center, rgba(255, 0, 200, 0.08), transparent 60%);
  pointer-events: none;
  z-index: 0;
}
