@use "../variables" as *;
@use "../mixin" as *;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  font-weight: 400;
  font-style: normal;
  background-color: $bg-color;
  min-height: 100vh;
}
