@use "../variables" as *;
@use "../mixin" as *;


/* =====================
   HEADINGS
===================== */

h1,
h2 {
  color: $text-light;
  text-align: center;
}

h1 {
  font-size: $h1-size;
  margin: 20px;
}

h2 {
  font-size: $h2-size;
  padding: 20px;
  margin: 0;
}

h3 {
  font-size: $h3-size;
  text-align: center;
  margin: 20px;
}

/* =====================
   TEXT
===================== */

p {
  color: $text-light;
  font-size: $p-size;
  margin: 10px 0;
  text-align: center;
}

/* =====================
   tarjeta instagram
===================== */
.instagram-card h2,
.instagram-card p {
    color: #222;
}


/* =====================
   QUIÉNES SOMOS (texto)
===================== */

.quienesomos {
  max-width: 480px;

  h2 {
    color: $text-light;
    margin-bottom: 20px;
    font-weight: 600;
  }

  p {
    line-height: 1.7;
    color: #555;
  }
}


.masdenosotras {
  text-align: center;

  h3 {
    color: $text-light;
    margin-bottom: 15px;
  }

  p {
    color: $text-light;
    margin-bottom: 10px;
  }
}

/* =====================
   inicio(texto)
===================== */
.containerresultados {

  h3 {
    color: $text-dark;
    margin-bottom: 15px;
  }

  p {
    color: $text-dark;
    font-size: $p-size;
    margin: 10px;
  }
}

.row {

  p {
    color: $text-dark;
    font-size: $p-size;
    
  }
  
  .lightp {
    color: $text-light;
    font-size: $p-size;
    margin: 10px;
  }

  h3 {
    color: $text-dark;
    margin-bottom: 15px;
  } 
  
  
  h4 {
    color: $text-dark;
    margin-bottom: 15px;
  }
 


  h5 {
    color: $text-light;
    margin-bottom: 15px;
  }

}

h2.mb-5 {
  color: $text-light;
  margin-bottom: 15px;


}

/* =====================
   SERVICIOS (texto)
===================== */

.servicios-contenido {
  color: $text-dark;


  .darkp {
    color: $text-dark;
  }
}

.servicios-hero {
  color: $text-dark;

  h1,
  p {
    color: $text-dark;
  }
}

/* =====================
   CONTACTO (texto) 
===================== */

.contact-hero {
 
  h1 {
    color: $text-dark;
  }

  p {
    color: #000 !important;
  }
}

.contact-benefits {
  padding: 50px 20px 10px;
}